# Fichier généré par Ansible
#
# Config file for mSMTP sendmail
#
# The person who gets all mail for userids < 1000
# Make this empty to disable rewriting.
# Set default values for all following accounts.
defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        ~/.msmtp.log

# Default
account        {{ inventory_hostname }}
host           {{ msmtp_mailhub }}
port           587
from           test@test.fr
{% if msmtp_authuser != "" %}
user            {{ msmtp_authuser }}
password        {{ msmtp_authpass }}
{% endif %}

# Set a default account
account default : {{ inventory_hostname }}
