{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
    <section id="central-section" class="bg-light p-5">
        <div class="container jumbotron p-5 img-rounded">
            <div class="row">
                {{ form(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}
